:root {
  color-scheme: light dark;
  color: #ffecd1;
  background-color: #001524;
  font-family: "Josefin Slab", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-slab {
  font-family: "Josefin Slab", serif;
}

.font-sans-main {
  font-family: "Josefin Sans", sans-serif;
}

a {
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
}
button:hover {
}
button:focus,
button:focus-visible {
}
